extends layout

block content
    .container
        #game-area
            .wrapper.clearfix
                .reset
                    span#time-counter
                    button#refresh
                        i(class="fa fa-refresh" aria-hidden="true")
                form
                    input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/leaderboard")
                input#submit-score(type="hidden" value="" name="submitscore")

            table.leaderboard
                tr
                    th
                    th Player
                    th Score
                    th Date
                tr
                    td 1
                    td HEJHEJHEJJ
                    td 109 w/m
                    td 2017-02-15
                tr
                    td 2
                    td HEJ
                    td 92 w/m
                    td 2017-02-15
                tr
                    td 3
                    td HEJ
                    td 91 w/m
                    td 2017-02-15
