extends layout

block content

    .fade

    .menu-area
        .menu-wrapper
            if userId
                i(class="fa fa-user-circle-o" id="open-user-profile" aria-hidden="true")
            i(class="fa fa-list-ol" id="open-leaderboard" aria-hidden="true")
    #user-and-stats
        .menu-wrapper
            i(class="fa fa-times close" aria-hidden="true")
        .container.user-and-stats
            //.user-and-stats-menu.clearfix
            .profile-section
                .row
                    div.user-name.title
                .row
                    .col.col-100.user-information
                .row.clearfix
                    .col.col-100.user-chart
                        .col.col-50
                            .canvas-wrapper(style="width: 70%; float:left;")
                                .sub-title WPM
                                canvas(id="wpm-chart")
                        .col.col-50
                            .canvas-wrapper(style="width: 70%; float:right;")
                                .sub-title ACCURACY
                                canvas(id="words-chart")
                .row
                    .col.col-100.user-top-five
                        .sub-title(style="margin-bottom: 15px") TOP FIVE SCORES
                        table#user-score
                            tr
                                th
                                th Name
                                th Score
                                th Date
                .row
                    a.logout(href="logout" style="float: right") LOGOUT
                        i(class="fa fa-user-times" aria-hidden="true")
    #leaderboard
        .menu-wrapper
            i(class="fa fa-times close" aria-hidden="true")
        .container.leaderboard
            .leaderboard-section
                .title LEADERBOARD
                .row
                    .col.col-100
                        .sub-title TOP ALL
                        table#top-all-score
                            tr
                                th
                                th Name
                                th Score
                                th Date
                .row
                    .col.col-100
                        .sub-title TOP TODAY
                        table#top-today-score
                            tr
                                th
                                th Name
                                th Score
                                th Date

    .container
        span#game-popup GAME OVER!
        #game-area
            .reset
                span#time-counter
                button#refresh
                    i(class="fa fa-refresh" aria-hidden="true")
            form.clearfix
                input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/score")
                input#submit-score(type="hidden" value="" name="submitscore")
                input#submit-wrong(type="hidden" value="" name="submitWrong")
                button#submit-button(type="submit")