extends layout

block content

    .fade
    if user.userId
        a.logout(href="logout")
            <i class="fa fa-user-times" aria-hidden="true"></i>  Logout
    .container
        #game-area
            .wrapper.clearfix
                .reset
                    span#time-counter
                    button#refresh
                        i(class="fa fa-refresh" aria-hidden="true")
                form
                    input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/leaderboard")
                input#submit-score(type="hidden" value="" name="submitscore")
                button#submit-button(type="submit")

            div#open-leaderboard
                <i class="fa fa-list-ol" aria-hidden="true"></i> Leaderboard
    .leaderboard-wrapper
        span#close-leaderboard <i class="fa fa-times" aria-hidden="true"></i>
        .leaderboard
            h1 LEADERBOARD

            div.top-today
                h3.top-today-title Top Today
                - for(i = 0; i < 10; i++)
                    div.user-score.top-today-score

            div.top-all
                h3.top-all-title Top Today
                - for(i = 0; i < 10; i++)
                    div.user-score.top-all-score