extends layout

block content
    .container
        #game-area
            .wrapper.clearfix
                .reset
                    span(style="color: white;") #{name}
                    span#time-counter
                    button#refresh
                        i(class="fa fa-refresh" aria-hidden="true")
                form
                    input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/topscore")
                input#submit-score(type="hidden" value="")