extends layout

block content

    .fade

    .menu-area
        a.logout(href="logout" style="float: right")
            i(class="fa fa-user-times" aria-hidden="true")
        .menu-wrapper
            i(class="fa fa-user-circle-o" id="open-user-profile" aria-hidden="true")
            #open-leaderboard(style="display:none")
                i(class="fa fa-list-ol" aria-hidden="true")
    #user-and-stats
        .container.user-and-stats
            .user-and-stats-menu.clearfix
            .profile-section
                .row
                    div.user-name.title
                .row
                    .col.col-100.user-information
                .row.clearfix
                    .col.col-100.user-chart
                        .col.col-50
                            .canvas-wrapper(style="width: 70%; float:left;")
                                .sub-title WPM COMPARED
                                canvas(id="wpm-chart")
                        .col.col-50
                            .canvas-wrapper(style="width: 70%; float:right;")
                                .sub-title ACCURACITY
                                canvas(id="words-chart")
                .row
                    .col.col-100.user-top-five
                        .sub-title(style="margin-bottom: 15px") TOP FIVE SCORES
                        table#user-score
                            tr
                                th
                                th Name
                                th Score
                                th Date
            .leaderboard-section
                .row
                    .title-wrapper
                        i(class="fa fa-arrow-left toggle-leaderboard unactive" aria-hidden="true")
                        .title LEADERBOARD
                        i(class="fa fa-arrow-right toggle-leaderboard" aria-hidden="true")
                .row
                    .col.col-100
                        .leaderboard-slider
                            table#top-all-score
                                //put the titles outside of the table
                                tr
                                    th
                                    th Name
                                    th Score
                                    th Date
                            table#top-today-score
                                tr
                                    th
                                    th Name
                                    th Score
                                    th Date

    .container
        #game-area
            .reset
                span#time-counter
                button#refresh
                    i(class="fa fa-refresh" aria-hidden="true")
            form.clearfix
                input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/score")
                input#submit-score(type="hidden" value="" name="submitscore")
                input#submit-wrong(type="hidden" value="" name="submitWrong")
                button#submit-button(type="submit")