extends layout

block content
    .container
        #front-page
            a(href='/login') Login
                i(class="fa fa-user" aria-hidden="true")
            a(href='/register') Register
                i(class="fa fa-user-plus" aria-hidden="true")
            a(href='/game') Continue as guest
                i(class="fa fa-arrow-right" aria-hidden="true")
            p.user-note
                i(class="fa fa-exclamation-circle" aria-hidden="true")
                |Only logged in users can enter the scoreboard.