extends layout

block content
    .container
        #front-page
            a(href='/login') Login
            a(href='/register') Register
            a(href='/game') Continue as guest
            p.user-note
                i(class="fa fa-exclamation-circle" aria-hidden="true")
                |Only logged in users can enter the scoreboard.