doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Typing Game | #{title}
    link(href="css/styles.css" type="text/css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet")

    body
        a(href="/")
            h3(style="position: absolute; top: 10px; left: 20px; padding: 0px 30px 0px 0px; color: white; font-style: italic; border-bottom: 2px solid #FFFFFF; border-bottom-right-radius: 10px;") The Typing Game
        block content

        script(src="js/main.js")