extends layout

block content
    .container
        #user-area
            form#register-form(method='POST' action='/register')
                input#register-email(type="email" placeholder="Email..." autocomplete="off" name="email")
                input#register-name(type="text" placeholder="Name..." maxlength="10" autocomplete="off" name="name")
                input#register-password(type="password" placeholder="Password..." name="password")
                input#register-password2(type="password" placeholder="Reenter password..." name="confirmPassword")
                a.btn.button-cancel(href="/") Cancel
                button.btn.button-register(type="submit") Sign up