body {
    background: url('../images/rain-colors.jpg');
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.container {
    width: 725px;
    /*height: 150px;*/
    margin: 200px auto 0px auto;
}

div.game-area {
    float: right;
    width: 650px;
}

div.wrapper {
    position: relative;
    width: 100%;
}

div.container .reset {
    height: 45px;
    margin-bottom: 15px;
}

div.container .reset button {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

div.container .reset button i {
    font-size: 20px;
}

#refresh {
    float: right;
    background: #EBD088;
}

#typing-area {
    float: left;
    width: 100%;
    height: 65%;
    margin-bottom: 15px;
    padding: 30px 50px;
    font-size: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid transparent;
}

#time-counter {
    color: #FFFFFF;
    font-size: 45px;
}

div.container .words-area {
    width: 150%;
    font-size: 35px;
    color: #FFFFFF;
}

.word {
    float: left;
    padding: 5px 25px;
}
.word:nth-child(1) {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
}
.score {
    float: left;
    margin-right: 10px;
}

/* CLEAN THE BELOW UP PL0X */

.fade {
    /*display: none;*/
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

.highscore {
    /*display: none;*/
    width: 450px;
    position: absolute;
    z-index: 100;
    margin-left: 95px;
    margin-top: -50px;
    background: #FFFFFF;
    padding: 20px 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

.closeHighscore {
    position: absolute;
    top: 15px;
    right: 15px;
}

#nameForm input[type="text"] {
    float: left;
    width: 75%;
    padding: 20px 20px;
    background: #FAF2F8;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
}

#nameForm button {
    float: left;
    width: 25%;
    padding: 20px 20px;
    font-size: 25px;
    background: #27C42A;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
}

