body {
    background: url('../images/rain-colors.jpg');
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.container {
    width: 725px;
    /*height: 150px;*/
    margin: 200px auto 0px auto;
}

div.game-area {
    float: right;
    width: 650px;
}

div.wrapper {
    width: 100%;
}

div.container .reset {
    height: 45px;
    margin-bottom: 15px;
}

div.container .reset button {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

div.container .reset button i {
    font-size: 20px;
}

#refresh {
    float: right;
    background: #EBD088;
}

#typing-area {
    float: left;
    width: 100%;
    height: 65%;
    margin-bottom: 15px;
    padding: 30px 50px;
    font-size: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid transparent;
}

#time-counter {
    color: #FFFFFF;
    font-size: 45px;
}

div.container .words-area {
    width: 150%;
    font-size: 35px;
    color: #FFFFFF;
}

.word {
    float: left;
    padding: 5px 25px;
}
.word:nth-child(1) {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
}
.score {
    float: left;
    margin-right: 10px;
}
